<<<<<<< HEAD
.example-spacer {
    flex: 1 1 auto;
  }

  mat-icon-button {
    color: white;
=======
.example-spacer {
    flex: 1 1 auto;
  }

  mat-icon-button {
    color: white;
>>>>>>> 27f522474ee04cc8dbf7fe880abb147d0c9c1ffc
  }