<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>LabTool</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
<ion-content>
  <div class="ion-padding">
    <h2>Bienvenido, {{usuario1}}</h2>

    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" id="nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Apellido</ion-label>
      <ion-input type="text" id="apellido"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Rut</ion-label>
      <ion-input type="number" id="rut"></ion-input>
    </ion-item>
    <mat-card>
      <ion-item>
        <ion-label position="floating">Fecha de nacimiento</ion-label>
          <mat-label>Fecha de nacimiento</mat-label>
          <input matInput [matDatepicker]="picker">
          <mat-datepicker #picker color="accent"></mat-datepicker>
        <button mat-raised-button (click)="picker.open()">Elegir fecha</button>
      </ion-item>
    </mat-card>

    

    <ion-button expand="full" color="primary" href="/resultadoexamenes" id="guardarBtn">Resultado de examenes <mat-icon>poll</mat-icon></ion-button>
  </div>
</ion-content>