<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>LabTool</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Nombre</ion-label>
        <ion-input type="text" placeholder="Nombre"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Apellido</ion-label>
        <ion-input type="text" placeholder="Apellido"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input type="email" placeholder="Email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Dirección</ion-label>
        <ion-input type="text" placeholder="Dirección"></ion-input>
      </ion-item>
    </ion-list>

    <div class="ion-padding">
      <ion-button expand="full" color="primary" href="/home" onclick="registrar()">Registrar</ion-button>
      <ion-button expand="full" color="light" href="/login" onclick="volver()">Volver al Home</ion-button>
    </div>
  </ion-content>